.m-login.m-login--1 .m-login__aside {
	/*width: 50%;*/
	/*padding: 2rem 8rem;*/
}

.m-brand .m-brand__logo .m-brand__logo-wrapper {
	text-decoration: none;
	font-size: 1.7em;
    font-weight: bolder;
}

.m-login__logo a{
	text-decoration: none;
	font-size: 2.5em;
    font-weight: bolder;
    color: #a886f4;
}

.m-portlet {
	background: transparent;
}

.m-tabs-line.nav.nav-tabs .nav-link:hover, 
.m-tabs-line.nav.nav-tabs .nav-link.active, 
.m-tabs-line a.m-tabs__link:hover, 
.m-tabs-line a.m-tabs__link.active {
	color: #a886f4;
    border-bottom: 1px solid #a886f4;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control.m-login__form-input--last {
	border-bottom: 1px solid #ebedf2;
}

.m-header--fixed .m-header .m-header__bottom {
	/*margin-top: 0;*/
}

.m-portlet.m-portlet--rounded .m-portlet__body {
     border-bottom-left-radius: 0; 
     border-bottom-right-radius: 0; 
}

[class^="fa-"], [class*=" fa-"],
[class^="flaticon-"], [class*=" flaticon-"] {
    font-size: 2.5rem;
}

.search-q form.m-form--fit .m-form__group {
	padding: 0;
}

.answer .m-portlet {
	box-shadow: none;
}

.answer .m-portlet__body,
.answer .m-portlet__head {
	background: #fff;
}

.question.m-portlet--fullscreen .m-scrollable {
	width: 50%;
	margin: 0 auto;
}

.search-q .row+.row {
    margin-top: 1rem;
}

.search-q.m-portlet .m-form.m-form--fit > .m-portlet__body {
	padding-bottom: 0;
}

.custom-tabs .nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}

.custom-tabs .nav-tabs > li:hover > span {
    display: inline-block;
}

@media (min-width: 1025px) {
	.m-header .m-header__bottom {
	    height: auto; 
	}

	.m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--tabs.m-menu__item--active-tab > .m-menu__submenu, .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--tabs.m-menu__item--hover > .m-menu__submenu {
		display: none;
	}
}
























