.m-login.m-login--1 .m-login__aside {
	/*width: 50%;*/
	/*padding: 2rem 8rem;*/
}

.m-brand .m-brand__logo .m-brand__logo-wrapper {
	text-decoration: none;
	font-size: 1.7em;
    font-weight: bolder;
}

.m-login__logo a{
	text-decoration: none;
	font-size: 2.5em;
    font-weight: bolder;
    color: #a886f4;
}

.m-portlet {
	background: transparent;
}

.m-tabs-line.nav.nav-tabs .nav-link:hover, 
.m-tabs-line.nav.nav-tabs .nav-link.active, 
.m-tabs-line a.m-tabs__link:hover, 
.m-tabs-line a.m-tabs__link.active {
	color: #a886f4;
    border-bottom: 1px solid #a886f4;
}

.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control.m-login__form-input--last {
	border-bottom: 1px solid #ebedf2;
}

.m-header--fixed .m-header .m-header__bottom {
	/*margin-top: 0;*/
}